/* src/components/shared/Layout.module.css */
.container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: overlay; /* 투명한 Scroll바 생성 */
  flex-direction: column;
}
.layout {
  display: flex;
  margin-top: 56px; /* Header 컴포넌트 높이만큼 콘텐츠를 아래로 밀어주기 */
  flex: 1;
}
.contents {
  margin-left: 240px; /* Menu width 만큼 왼쪽 여백 주기 */
  flex: 1;
}